* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/assets/img/fundotela.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.menu {
    background-color: black;
    text-align: center;
    padding: 39px;
}

a {
    color: #9d9d9d;
    text-decoration: none;
    font-size: larger;
    font-family: monospace;
    padding: 18px;
}


section.sobre {
    height: calc(100% - 200px);
    position: relative;
}

.extras {
    position: absolute;
    bottom: -450px;
    right: -500px;
    width: 900px;
    height: 900px;
    background-color: black;
    border-radius: 50%;
}


.extras img {
    width: 200px;
    margin-left: 48px;
    margin-top: 60px;
    border-radius: 44px;
}